BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
UseTab: ForIndentation
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterFunction: true
    AfterControlStatement: false
    AfterEnum: true
    AfterNamespace: false
    BeforeElse: false
    BeforeCatch: false
    IndentBraces: false

BreakAfterReturnType: AllDefinitions

DerivePointerAlignment: false
PointerAlignment: Right

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IndentAccessModifiers: true
AlignAfterOpenBracket: true
