# ~/.clang-format
BasedOnStyle: Mozilla
IndentWidth: 4
AlwaysBreakAfterReturnType: AllDefinitions
IndentExternBlock: NoIndent
BreakBeforeBraces: Custom
BinPackArguments: true
BinPackParameters: true
PointerAlignment: Right
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: MultiLine
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  AfterNamespace: false
  BeforeLambdaBody: true

